{% for row in grouped_data -%}
{#% if row['status'] != 'not' and row['device'] == 'WAP' %#}
{% if row['status'] != 'not'  -%}
SW: {{ row['sw'] }}, Port: {{ row['port'] }}, Status: {{ row['status'] }}, Device: {{ row['device'] }}
{%- endif %}
{%- endfor %}
